 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

  @media (max-width: 767px) {
    select.custom-select {
        width: 100%;
    }
}  

.custom-select {
    width: 100%;   
    max-width: 350px;   
    height: 50px;
    
}

.form-control {
    width: 100%;  
    max-width: 350px;  
    height: 40px;
    
}
